* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 30px;
    font-family: 'Sedgwick Ave Display', cursive;
}
header {
    background-image: url(../img/кактус_обои.jpg);
    text-align: center;
}
main {
     background-color : #E3EFF2;
}
footer {
    background-color: #8ca194;
    padding:10px 50px;
}
#about {
    background-color: #E3EFF2;
    padding:  10px  50 px;
    text-align: center;
}
#articles {
    background-color: #E3EFF2;
    padding:  25px 35px;
}
p {
    
    text-align: justify;
    font-size:  20px;
    line-height: 2em;
    margin-bottom: 30px;
}

h1 {
    text-transform:uppercase ;
    color: #e9efeb;
    font-size: 48px;
    font-style:oblique;
}
h2 {
    text-decoration:dashed;
    font-size: 30px;
    text-align: center;
}
ul {
    list-style: none;
}
a {
    color: #8d9c9a;
    text-decoration: none;
}
a:active {
    color:brown;
}
a:hover {
    color:black;
    text-decoration: overline;
}
a:focus {
    color:green;
}
a:visited {
    color:#4fa072;
}
dd {
    font-size: 20px;
}
.link-header {
    color: #e7ebea
   
    
}
.state :before {
    content: "Важно!";
}
.link-header:focus {
    color:darkslategrey;
}
.link-header:hover {
    color:white;
    text-decoration: line-through;     
}
.footer {
    color: #e9efeb;
}
p:lang(ru) {
   font-style:italic;
}
p:lang(en) {
    color: #186339;
}
ol li:nth-child(2n) {
   background-color: #9DB1B6;
}
#about img {
    border-radius: 50%;
}
.article1 {
    border:solid purple;
    border-radius: 80%;
    box-shadow:10px 5px 5px purple;
}
.suc {
    font-size: 50px;
}
figure {
    font-size: 15px;
    text-align: center;
}
.grey {
    font-size: 50px;
    color:#2E8B57 ;
}
.care {
    font-size: 20px;
    padding: 20px;
}
.pink {
    color: #186339;
}
.gg:focus {
    color:red;
}
.gg:hover {
    color:chocolate;
    text-decoration: underline;
}
.check-table {
    border:solid 5px purple;
    border-collapse: collapse; 
}
.check-table td ,
.check-table th{
    border: solid 1px black;
    padding: 5px 10px;
}
.check-table tr :nth-child(odd) {
    font-weight:bolder;
    color: royalblue;
}
.check-table td:last-child,
.check-table th :last-child {
    background-color: #2E8B57;
    text-align: center;
}
p:first-line {
    letter-spacing: 4px;
}
.void {
    color:brown;
    margin-top: 20px;
    
}
figcaption+.void{
    margin-top: 100px;
}
.foot {
    box-shadow:10px 5px 5px rgb(56, 56, 56);
}
#contact-form input[type="text"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#contact-form input[type="submit"] {
    background-color: #549e74;
}
#contact-form textarea {
    background-color: #eddfff;
}
#contact-form input[type="submit"]:hover {
   background-color: palegreen;
}